<a href="https://colab.research.google.com/github/72OTA/Estudios/blob/master/01_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducci贸n a Python

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/logo.png" width=150>

En esta lecci贸n aprenderemos los conceptos basicos del lenguaje de programaci贸n Python (version 3). No aprenderemos completamente todo acerca de Python pero si lo suficiente para aprender lo basico sobre aprendizaje de maquina.

<img src="https://raw.githubusercontent.com/GokuMohandas/practicalAI/master/images/python.png" width=350>

#  Variables

Variables son objetos en Python que pueden contener cualquier numero o texto. Vamos a ver como crear algunas variables.

In [0]:
# Ejemplo numerico
x = 5
print (x)

5

In [0]:
# Ejemplo de texto
x = "Hola"
print (x)

Hola

In [0]:
# Las variables pueden ser usadas unas con otras
a = 1
b = 2
c = a + b
print (c)

3

Las variables pueden venir en muchos tipos diferentes. Incluso dentro de variables numericas, puedes tener enteros(int), flotantes (float), etc. Todas las variables basadas en texto son de tipo string (str). Podemos saber de que tipo es la variable imprimiendo su tipo.

In [0]:
# int variable
x = 5
print (x)
print (type(x))

# float variable
x = 5.0
print (x)
print (type(x))

# text variable
x = "5" 
print (x)
print (type(x))

# boolean variable
x = True
print (x)
print (type(x))

5
<class 'int'>
5.0
<class 'float'>
5
<class 'str'>
True
<class 'bool'>

Es una buena practica saber de que tipo son tus variables. Cuando tu quieres usar operaciones numericas en ellas, Necesitan ser compatibles.

In [0]:
# int variables
a = 5
b = 3
print (a + b)

# string variables
a = "5"
b = "3"
print (a + b)

8
53

#  Lists

Las listas son objetos en Python que pueden contener una secuencia ordenada de nmeros  **y** texto.

In [3]:
# Creando una list
list_x = [3, "Chochi", 1, "Manchas"]
print (list_x)

[3, 'Chochi', 1, 'Manchas']

In [4]:
# Agregando a una list
list_x.append(7)
print (list_x)

[3, 'Chochi', 1, 'Manchas', 7]

In [5]:
# Acceder a los items en una ubicaci贸n especifica dentro de la list
print ("list_x[0]: ", list_x[0])
print ("list_x[1]: ", list_x[1])
print ("list_x[2]: ", list_x[2])
print ("list_x[-1]: ", list_x[-1]) # ultimo item
print ("list_x[-2]: ", list_x[-2]) # penultimo item

list_x[0]:  3
list_x[1]:  Chochi
list_x[2]:  1
list_x[-1]:  7
list_x[-2]:  Manchas

In [13]:
# Slicing / Cortar
print ("list_x[:]: ", list_x[:])
print ("list_x[2:]: ", list_x[2:])
print ("list_x[1:3]: ", list_x[1:3])
print ("list_x[:-1]: ", list_x[:-1])

list_x[:]:  [3, 'hi', 1, 'Manchas', 7]
list_x[2:]:  [1, 'Manchas', 7]
list_x[1:3]:  ['hi', 1]
list_x[:-1]:  [3, 'hi', 1, 'Manchas']

In [14]:
# Largo de una list
len(list_x)

5

In [15]:
# Reemplazando items en una list
list_x[1] = "hi"
print (list_x)

[3, 'hi', 1, 'Manchas', 7]

In [16]:
# Combinando lists
list_y = [2.4, "world"]
list_z = list_x + list_y
print (list_z)

[3, 'hi', 1, 'Manchas', 7, 2.4, 'world']

# Tuples

Las **Tuplas** tambien son objetos en Python pueden contener datos pero no puedes remplazar sus valores(Por esta raz贸n, las tuplas son llamadas inmutables, y las listas son conocidas como mutables).

In [17]:
# Creando una tupla
tuple_x = (3.0, "aiuda")
print (tuple_x)

(3.0, 'aiuda')

In [18]:
# Agregando valores a una tupla
tuple_x = tuple_x + (5.6,)
print (tuple_x)

(3.0, 'aiuda', 5.6)

In [19]:
# Tratando de cambiar valores en una tupla (No puedes noob)
tuple_x[1] = "world"

TypeError: ignored

# Dictionaries

Dictionaries are Python objects that hold key-value pairs. In the example dictionary below, the keys are the "name" and "eye_color" variables. They each have a value associated with them. A dictionary cannot have two of the same keys.

In [20]:
# Creating a dictionary
goku = {"name": "Goku",
        "eye_color": "brown"}
print (goku)
print (goku["name"])
print (goku["eye_color"])

{'name': 'Goku', 'eye_color': 'brown'}
Goku
brown

In [21]:
# Changing the value for a key
goku["eye_color"] = "green"
print (goku)

{'name': 'Goku', 'eye_color': 'green'}

In [22]:
# Adding new key-value pairs
goku["age"] = 24
print (goku)

{'name': 'Goku', 'eye_color': 'green', 'age': 24}

In [23]:
# Length of a dictionary
print (len(goku))

3

# If statements

You can use `if` statements to conditionally do something.

In [0]:
# If statement
x = 4
if x < 1:
    score = "low"
elif x <= 4:
    score = "medium"
else:
    score = "high"
print (score)

medium

In [26]:
# If statment with a boolean
x = True
if x:
    print ("Si funciona!")
else:
    print ("No funciona!")

Si funciona!

# Loops

In Python, you can use `for` loop to iterate over the elements of a sequence such as a list or tuple, or use `while` loop to do something repeatedly as long as a condition holds.

In [29]:
# For loop
x = 1
for i in range(3): # goes from i=0 to i=2
    x += 1 # same as x = x + 1
    print ("i={0}, x={1}".format(i, x)) # printing with multiple variables

i=0, x=2
i=1, x=3
i=2, x=4

In [30]:
# Loop through items in a list
x = 1
for i in [0, 1, 2]:
    x += 1
    print ("i={0}, x={1}".format(i, x))

i=0, x=2
i=1, x=3
i=2, x=4

In [0]:
# While loop
x = 3
while x > 0:
    x -= 1 # same as x = x - 1
    print (x)

2
1
0

# Functions

Las funciones son un camino para modularizar piezas de codigo reutilizables.

In [0]:
# Create a function
def add_two(x):
    x += 2
    return x

# Use the function
score = 0
score = add_two(x=score)
print (score)

2

In [0]:
# Function with multiple inputs
def join_name(first_name, last_name):
    joined_name = first_name + " " + last_name
    return joined_name

# Use the function
first_name = "Goku"
last_name = "Mohandas"
joined_name = join_name(first_name=first_name, last_name=last_name)
print (joined_name)

Goku Mohandas

# Classes

Las clases son una pieza fundamental de la programaci贸n orientada a objetos en Python.

In [0]:
# Creating the class
class Pets(object):
  
    # Initialize the class
    def __init__(self, species, color, name):
        self.species = species
        self.color = color
        self.name = name

    # For printing  
    def __str__(self):
        return "{0} {1} named {2}.".format(self.color, self.species, self.name)

    # Example function
    def change_name(self, new_name):
        self.name = new_name

In [0]:
# Creating an instance of a class
my_dog = Pets(species="dog", color="orange", name="Guiness",)
print (my_dog)
print (my_dog.name)

orange dog named Guiness.
Guiness

In [0]:
# Using a class's function
my_dog.change_name(new_name="Charlie")
print (my_dog)
print (my_dog.name)

orange dog named Charlie.
Charlie

# Additional resources

This was a very quick look at Python and we'll be learning more in future lessons. If you want to learn more right now before diving into machine learning, check out this free course: [Free Python Course](https://www.codecademy.com/learn/learn-python)